.wrapper{
    width: 100%;
    height: 100%;
}
.map{
    width: 100%;
    /*object-fit: contain;*/
    height: 100%;
}
.county{
    /*fill: #c4c4c4;*/
    /*transition: fill .2s, stroke-width .2s;*/
    cursor: pointer;
    stroke: #fff;
    /*stroke-width: 3;*/
}
.county.selected{
    fill: red;
}
.county.hovered{
   fill: pink;
}

.target{
    position: absolute;
    display: inline-flex;
    padding: 10px;
    background: red;
    color: white;
}

.debugMode{
    position: absolute;
}