.accordionMenu{
    max-width: 450px;
}

.group:not(:first-of-type){
    margin-top: 30px;
}

.countyList{
    display: flex;
    flex-wrap: wrap;
}
.countyList .county{
    margin: 0 5px; 
    padding: 10px;
}

.selectedCategory{
    color: red;

}

.indicators{
    border: 1px solid black;
    height: 300px;
}

.ageRaceOption.selected{
    color: red;
}