.wrapper{
    
}
.map{
    /*overflow: visible;*/
    width: 1000px;
    height: 600px;
}
.county{
    /*fill: #c4c4c4;*/
    transition: fill .2s;
    stroke: #fff;
    stroke-width: 3;
}
.county.selected{
    fill: red;
}
.county.hovered{
   fill: pink;
}

.target{
    position: absolute;
    display: inline-flex;
    padding: 10px;
    background: red;
    color: white;
}