*{
    font-family: 'Heebo', sans-serif;
    box-sizing: border-box;
}

html{
    --strokepurple: #6E016B;
    --inactivegrey: #EFEFEF;
    --bordergrey: #d7d7d7;
    --fainttext: #919191;
    --normtext: #1e1e1e;
    --offwhitebg: #f3f3f5;
    --offwhitefg: #fbfbfc;
    --shadow: 0 3px 5px rgba(0,0,0,0.25);
    --highlightshadow: 0 5px 8px rgba(0,0,0,0.375);
    --faintpeach: #FFF6F2;
    --peach: #FCBBA1;
    --strokepeach: #ef6732;

    overflow: hidden;
}

body{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}


.compressed1{

}
.compressed2{

}
.compressed3{
	color: red;
}
.compressed3:first-of-type{
	color: red;
}
.compressed3:nth-of-type(2){
	color: green;
}
.compressed3:nth-of-type(3){
	color: blue;
}